@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,800|Anton:400");

@import url("https://px.animaapp.com/6272655bfa9ad8ac6700a62e.6272655d4e73b2fe35105c9f.HjJjkMe.rcp.png");

@font-face {
  font-family: "icons-pack-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/icons-pack.ttf") format("truetype");
}

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */


.screen a {
  display: contents;
  text-decoration: none;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
