.indi-desktop-1440 {
  background-color: var(--log-cabin);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  min-height: 2492px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}

.group-7 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 1974px;
  margin-left: 109px;
  max-height: 1974px;
  position: relative;
  z-index: 2;
}

