.sidebar-menu-1 {
  align-items: center;
  background-color: var(--licorice);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 109px;
  z-index: 3;
}

.indi-logo-1 {
  height: 31.49px;
  margin-left: -1.5px;
  margin-top: 30.0px;
  width: 39.59px;
}

